body {
  font-family: "Titillium Web", sans-serif;
  box-shadow: inset 100px 0px 100px -50px #d4d4cc,
    inset -100px 0px 100px -50px #d4d4cc;
  width: 100%;
  margin: auto;
  background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  margin-top: 60px;
  background-image: linear-gradient(315deg, #63a4ffc9 0%, #83eaf19c 74%);
}

.App {
  display: flex;
  justify-content: center;
}
h3 {
  padding-top: 50px;
  margin-bottom: -10px;
  font-size: 1.3rem;
  color: rgb(253, 255, 240);
  font-style: italic;
}

h2 {
  background-color: rgba(247, 247, 247, 0.331);
  width: 10%;
  margin: auto;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 1.2rem;
}

.UI {
  background-color: rgba(247, 247, 247, 0.331);
  width: 10%;
  color: rgb(21, 21, 21);
  margin: auto;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 1.1rem;
  font-style: italic;
}

h1 {
  font-size: 2rem;
  margin-top: 0px;
  color: aliceblue;
}

.wrapperMain {
  background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"opa);
  width: 100%;
  background-color: rgba(128, 255, 0, 0);
}

.wrapper {
  display: flex;
  justify-content: center;
}
.quoteBox p {
  display: flex;
  padding-top: 5px;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 4px;
  width: 100%;
}

.bold {
  font-weight: bold;
  font-size: 1.2vw;
}

button {
  background-color: rgb(255, 253, 250);
  border-color: antiquewhite;
  border-radius: 2px;
}
